# DOP Project

## Data loading

In [58]:
import pandas as pd

In [62]:
political_data = pd.read_csv('datasets/political_rights.csv')
political_data

,location,variable,Unit,Date,Value
0,Antigua and Barbuda,Political Rights,"Score, 1=Most Free, 7=Least Free",2003,4
1,Antigua and Barbuda,Political Rights,"Score, 1=Most Free, 7=Least Free",2004,2
2,Antigua and Barbuda,Political Rights,"Score, 1=Most Free, 7=Least Free",2005,2
3,Antigua and Barbuda,Political Rights,"Score, 1=Most Free, 7=Least Free",2006,2
4,Antigua and Barbuda,Political Rights,"Score, 1=Most Free, 7=Least Free",2007,2
...,...,...,...,...,...
6252,Western Sahara,Political Rights,"Score, 1=Most Free, 7=Least Free",2014,7
6253,Western Sahara,Political Rights,"Score, 1=Most Free, 7=Least Free",2015,7
6254,Western Sahara,Political Rights,"Score, 1=Most Free, 7=Least Free",2016,7
6255,Western Sahara,Aggregate Score,"Score, 0=Least Free, 100=Most Free",2015,4
6256,Western Sahara,Aggregate Score,"Score, 0=Least Free, 100=Most Free",2016,4

## creating index

In [63]:
countries = political_data.location.unique()
index = []
for country in countries:
    for year in range(2003, 2017):
        index.append((country, year))
index = pd.MultiIndex.from_tuples(index, names= ['Country', 'Year'])

## preparing data shape

In [65]:
all_data = pd.DataFrame(columns=['Political Rights', 'Civil Liberties'], index=index)
all_data

                         Political Rights Civil Liberties
Country             Year
Antigua and Barbuda 2003              NaN             NaN
                    2004              NaN             NaN
                    2005              NaN             NaN
                    2006              NaN             NaN
                    2007              NaN             NaN
...                                   ...             ...
Western Sahara      2012              NaN             NaN
                    2013              NaN             NaN
                    2014              NaN             NaN
                    2015              NaN             NaN
                    2016              NaN             NaN

[3052 rows x 2 columns]

## adding political data to all data

In [66]:
for index, row in political_data.iterrows():
    if row['variable'].strip() == 'Political Rights':
        all_data.loc[(row['location'], row['Date']), 'Political Rights'] = row['Value']
    if row['variable'].strip() == 'Civil Liberties':
        all_data.loc[(row['location'], row['Date']), 'Civil Liberties'] = row['Value']
all_data

                         Political Rights Civil Liberties
Country             Year
Antigua and Barbuda 2003                4               2
                    2004                2               2
                    2005                2               2
                    2006                2               2
                    2007                2               2
...                                   ...             ...
Western Sahara      2012                7               7
                    2013                7               7
                    2014                7               7
                    2015                7               7
                    2016                7               7

[3052 rows x 2 columns]

In [68]:
all_data.isnull().sum()

Political Rights    133
Civil Liberties     133
dtype: int64